<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="basePath">./resources/logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n" />
		</Console>
		<RollingFile name="File" fileName="${basePath}/application.log" filePattern="${basePath}/application-%d{yyyy-MM-dd}.log" immediateFlush="false" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="100 KB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>